.form {
  background-color: bisque;
  padding: 20px;
  max-width: 1000px;
  border: solid 1px #bbb;
  border-radius: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.form__legend {
  text-align: center;
  border: solid 2px #bbb;
  padding: 5px;
  border-radius: 20px;
}

.form__Label {
  font-size: 15px;
  margin: 10px;
  width: 200px;
  display: inline-flex;
}

.currency_name{
  font-size: 15px;
  padding: 2px;
  

  
}
.form__button {
  float: right;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.form__button:hover{
  background-color: rgb(150, 215, 235);
  transition: 0.2s ease-in-out;
}

.form__description {
  text-transform: uppercase;
  font-size: x-small;
  float: left;
}

