.form {
  background-color: bisque;
  padding: 20px;
  max-width: 1000px;
  border: solid 1px #bbb;
  border-radius: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.form__legend {
  text-align: center;
  border: solid 2px #bbb;
  padding: 5px;
  border-radius: 20px;
}

.form__Label {
  font-size: 15px;
  margin: 10px;
  width: 200px;
  display: inline-block;
}

.form__button {
  float: right;
}

.form__description {
  text-transform: uppercase;
  font-size: x-small;
}

.form__result {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}