html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.body__background {
  background: url("./jason-leung-SAYzxuS1O3M-unsplash.jpg");
  margin:  auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
    
}
